%h3= params[:category]
%br

- if @recipe.count == 0
	%h4 There are no recipes currently in this category
- else
- @recipe.each_slice(3) do |recipe|
	.row
		- recipe.each do |recipe|
			.col-md-4
				.recipe
					.image_wrapper
						= link_to recipe do
							=image_tag recipe.image.url(:medium)
					%h2= link_to recipe.title, recipe

